main {
    display: flex;
    justify-content: center;
}

.scoreDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vmin;
}

.board {
    display: flex;
    flex-direction: column;
    width: 50vmin;
    height: calc(50vmin / 12 * 22);
}

.row {
    display: flex;
    width: 100%;
    /* height: ; */
    flex-grow: 1;
}

.cell {
    background-color: black;
    flex-grow: 1;
    border: calc(50vmin / 12 * .2) outset rgba(150, 150, 150, .5);
}

.border {
    background-color: gray;
}

.empty {
    border-color: transparent;
}

.green {
    background-color: green;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vmin;
    height: calc(50vmin / 12 * 22);
    position: absolute;
}